@model List<Category>

@{
    ViewData["Title"] = "View Categories";
    Layout = "Admin_layout";
}

<h2>All Categories</h2>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Category Name</th>
        <th>Icon</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            <td>@category.IconClass</td>
        </tr>
    }

</table>