
<div class="bg-white team-box-area">
	<!-- Team Section Style 1 -->
	<div class="section-full bg-white content-inner">
		<div class="container">
			<div class="sort-title clearfix text-center">
				<h4 style="color:white;">Team </h4>
			</div>

			<div class="row justify-content-center">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="dlab-box m-b30 dlab-team4">
						<div class="dlab-media">
							<a href="javascript:;">
								<img alt="" src="~/web/girl.png">
							</a>
						</div>
						<div class="dlab-info">
							<h4 class="dlab-title"><a href="javascript:;" style="color:white;">Anousha Zameer</a></h4>
							<span class="dlab-position">Student1500265</span>
							<ul class="dlab-social-icon">
								<li>
									<a class="site-button circle-sm gray-light fa fa-facebook"
									   href="javascript:void(0);"></a>
								</li>
								<li>
									<a class="site-button circle-sm gray-light fa fa-twitter"
									   href="javascript:void(0);"></a>
								</li>
								<li>
									<a class="site-button circle-sm gray-light fa fa-linkedin"
									   href="javascript:void(0);"></a>
								</li>
								<li>
									<a class="site-button circle-sm gray-light fa fa-pinterest"
									   href="javascript:void(0);"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="dlab-box m-b30 dlab-team4">
						<div class="dlab-media">
							<a href="javascript:;">
								<img alt="" src="~/web/boy.png">
							</a>
						</div>
						<div class="dlab-info">
							<h4 class="dlab-title"><a href="javascript:;" style="color:white;">Ahad</a></h4>
							<span class="dlab-position">Student</span>
							<ul class="dlab-social-icon">
								<li>
									<a class="site-button circle-sm gray-light fa fa-facebook"
									   href="javascript:void(0);"></a>
								</li>
								<li>
									<a class="site-button circle-sm gray-light fa fa-twitter"
									   href="javascript:void(0);"></a>
								</li>
								<li>
									<a class="site-button circle-sm gray-light fa fa-linkedin"
									   href="javascript:void(0);"></a>
								</li>
								<li>
									<a class="site-button circle-sm gray-light fa fa-pinterest"
									   href="javascript:void(0);"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="dlab-box m-b30 dlab-team4">
		<div class="dlab-media">
			<a href="javascript:;">
								<img alt="" src="~/web/boy.png">
			</a>
		</div>
		<div class="dlab-info">
							<h4 class="dlab-title"><a href="javascript:;" style="color:white;">Bilal</a></h4>
			<span class="dlab-position">Student</span>
			<ul class="dlab-social-icon">
				<li>
					<a class="site-button circle-sm gray-light fa fa-facebook"
					   href="javascript:void(0);"></a>
				</li>
				<li>
					<a class="site-button circle-sm gray-light fa fa-twitter"
					   href="javascript:void(0);"></a>
				</li>
				<li>
					<a class="site-button circle-sm gray-light fa fa-linkedin"
					   href="javascript:void(0);"></a>
				</li>
				<li>
					<a class="site-button circle-sm gray-light fa fa-pinterest"
					   href="javascript:void(0);"></a>
				</li>
			</ul>
		</div>
	</div>
</div>
					</div>
				</div>
			</div>